<h2>New Cocktail</h2>








  <%= form_for @cocktail do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :ingredient_name %>
    <%=  %>



    <%= f.submit %>


  <% end %>
